{% extends 'base.html' %}

{% block content %}
<div class="page-header d-flex align-items-center">
  <div class="container position-relative">
    <div class="row d-flex justify-content-center">
      <div class="col-lg-6 text-center">
{{project.title}}

{{error}}

<form method="POST" enctype="multipart/form-data">
  {% csrf_token %}
  {{form.as_p}}

  <button>
    Update
  </button>
</form>



<form action="{% url 'delete_project' project.id %}" method="POST">
  {% csrf_token %}
  <button>
    delete
  </button>
</form>

</div>
</div>
</div>    
</div>
{% endblock %}